.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.container {
    margin-inline: auto;
    width: min(90%, 90.5rem);
}

.header {
    display: flex;
    justify-content: space-between;
}

.venues {
    display: flex;
    flex-flow: row wrap;
    padding: 0.5vw;
    justify-content: space-between;
}

.venues .img-wrap {
    flex: auto;
    width: 300px;
    margin: 0.5vw;
}

.venues img {
    width: 100%;
    height: auto;
}

.venues figure {
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: relative;
}

figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
}

.venue-photo-description {
    display: flex;
    flex-direction: column;
    gap: .1rem;
    color: white;
    font-weight: 700;
    padding: .5rem;
    font-size: clamp(.725rem, 1.2vw, 1.2rem);
    place-items: flex-end;
}

.venues.empty {
    display: flex;
    flex-direction: column;
    place-items: center;
}

@media screen and (max-width: 400px) {
    .venues .img-wrap {
        margin: 0;
    }
    .venues {
        justify-content: center;
    }
}

h2,
h3,
h4,
p {
    font-size: clamp(1rem, 2vw, 2rem);

    color: rgb(240, 229, 229);
}

.location-switch span {
    cursor: pointer;
}

.selected-location {
    border-bottom: 3px solid white;
}